extends ../template
block content
    h2 Tạo Mới Người Nợ 

    form(action="/paybook" method="POST")
        .form-group
            label(for='exampleFormControlInput1') Monney
            input#exampleFormControlInput1.form-control(type='number' name="money" placeholder='Nhập số tiền...' required)
            span(id='mess')
        //- .form-group
        //-     label(for='exampleFormControlTextarea1') Content
        //-     textarea#exampleFormControlTextarea1.form-control(rows='3' name="content")
        .form-group
            label(for='exampleFormControlInput1') Tên Người Nợ
            input#exampleFormControlInput1.form-control(type='text' name="name" placeholder='Nhập tên...' required)
        .form-group
            label(for='exampleFormControlInput1') Email
            input#exampleFormControlInput1.form-control(type='email' name="email" placeholder='Nhập email...' required)
        if mess
            p=mess
        //- .form-group
        //-     label(for='exampleFormControlInput1') Số Điện Thoại
        //-     input#exampleFormControlInput1.form-control(type='text' name="phone" placeholder='Nhập phone...' required)
        button.btn.btn-primary.mt-5.mr-5(type='submit') Save
        button.btn.btn-primary.mt-5.ml-5.mr-5(type='reset') Reset
        a.btn.btn-danger.ml-5.mt-5(href='/paybook') Cancel
